<!-- <ion-header>
  <app-header [showUserIcon]="false" [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="titleValue"></app-sub-header>
  <userid-signup-widget [componentId]="getComponentId()" pfWidgetImpressionTrack [action]="useridSignUpAction">
    <ng-template let-widget="widget">
      <ng-container *ngIf="widget.model">
        <div class="main-content signup-page w-700">
          <form class="form-section" padding [formGroup]="signUpForm">
            <div class="form-group" [class.error]="signUpForm.get('fname').touched && !signUpForm.get('fname').valid">
              <ion-label for="fname" text-capitalize>{{'sign_up_page.fname' | translate}}
                <sup>*</sup>
              </ion-label>
              <div class="form-input">
                <ion-input id="fname" placeholder="{{'sign_up_page.fname_placeholder' | translate}}" inputmode="text" formControlName="fname"></ion-input>
                <div class="icons">
                  <ion-icon name="alert"></ion-icon>
                </div>
              </div>
              <div *ngIf="signUpForm.get('fname').touched && !signUpForm.get('fname').valid" class="error-msg">{{'sign_up_page.fname_error' | translate}}</div>
            </div>
            <div class="form-group">
              <ion-label for="lname" text-capitalize>{{'sign_up_page.lname' | translate}}</ion-label>
              <div class="form-input">
                <ion-input id="lname" placeholder="{{'sign_up_page.lname_placeholder' | translate}}" inputmode="text" formControlName="lname"></ion-input>
              </div>
            </div>
            <div class="form-group" [class.error]="signUpForm.get('mobile').touched && !signUpForm.get('mobile').valid">
              <ion-label for="mobile" text-capitalize>{{'sign_up_page.mobile' | translate}}
                <sup>*</sup>
              </ion-label>
              <div class="form-input mobile-input">
                <span>965</span>
                <ion-input id="mobile" placeholder="{{'sign_up_page.mobile_placehlder' | translate}}" inputmode="text" formControlName="mobile"></ion-input>
                <div class="icons">
                  <ion-icon name="alert"></ion-icon>
                </div>
              </div>
              <div *ngIf="signUpForm.get('mobile')?.touched">
                <div class="error-msg" *ngIf="signUpForm.get('mobile').errors?.required">{{ 'feedback_page.mobile_required' | translate }}
                </div>
                <div class="error-msg" *ngIf="signUpForm.get('mobile').errors?.pattern">{{ 'feedback_page.mobile_valid' | translate }}
                </div>
                <div class="error-msg" *ngIf="!signUpForm.get('mobile').errors?.pattern && (signUpForm.get('mobile').errors?.minlength ||  signUpForm.get('mobile').errors?.maxlength)">{{ 'feedback_page.mobile_digits' | translate }}
                </div>
              </div>
            </div>
            <div class="form-group" [class.error]="signUpForm.get('email').touched && !signUpForm.get('email').valid">
              <ion-label for="email" text-capitalize>{{'sign_up_page.email' | translate}}
                <sup>*</sup>
              </ion-label>
              <div class="form-input">
                <ion-input id="email" placeholder="{{'sign_up_page.email_placeholder' | translate}}" inputmode="email" formControlName="email"></ion-input>
                <div class="icons">
                  <ion-icon name="alert"></ion-icon>
                </div>
              </div>
              <div *ngIf="signUpForm.get('email').touched">
                <div class="error-msg" *ngIf="signUpForm.get('email').errors?.required">{{ 'sign_up_page.email_error' | translate }}
                </div>
                <div class="error-msg" *ngIf="signUpForm.get('email').errors?.email">{{ 'sign_up_page.email_valid' | translate }}
                </div>
              </div>
            </div>
            <div class="form-group" [class.error]="signUpForm.get('password').touched && !signUpForm.get('password').valid">
              <ion-label for="password" text-capitalize>{{'sign_up_page.password' | translate}}
                <sup>*</sup>
              </ion-label>
              <div class="form-input">
                <ion-input [type]="'password'" [inputmode]="'password'" no-border placeholder="{{ 'sign_in_page.password_placeholder' | translate }}"
                  formControlName="password" id="password"></ion-input>
                <div class="icons">
                  <ion-icon name="alert"></ion-icon>
                </div>
              </div>
              <div *ngIf="signUpForm.get('password').touched">
                <div class="error-msg" *ngIf="signUpForm.get('password').errors?.required">{{ 'sign_up_page.password_error_required' | translate }}</div>
                <div class="error-msg" *ngIf="signUpForm.get('password').errors?.minlength">{{ 'sign_up_page.password_error_length' | translate }}</div>
              </div>
            </div>
            <div class="form-group" [class.error]="signUpForm.get('confirmPassword').touched && !signUpForm.get('confirmPassword').valid">
              <ion-label for="confirmPassword" text-capitalize>{{'sign_up_page.confirm_password' | translate}}
                <sup>*</sup>
              </ion-label>
              <div class="form-input">
                <ion-input id="confirmPassword" placeholder="{{'sign_up_page.confirm_password_placeholder' | translate}}" inputmode="password" type="password"
                  formControlName="confirmPassword"></ion-input>
                <div class="icons">
                  <ion-icon name="alert"></ion-icon>
                </div>
              </div>
              <div *ngIf="signUpForm.get('confirmPassword').touched && !signUpForm.get('confirmPassword').valid" class="error-msg">{{'sign_up_page.confirm_password_error_match' | translate}}</div>
            </div>
            <ion-button color="success" class="btn-success" text-capitalize expand="block" mode="ios"
              (click)="signUp()" [class.disabled]="!signUpForm.valid ">{{'sign_up_page.submit' | translate}}</ion-button>
          </form>
        </div>
      </ng-container>
    </ng-template>
  </userid-signup-widget>
</ion-content> -->
