<app-header></app-header>

<ion-content>
  <!-- <app-sub-header [title]="titleValue"></app-sub-header> -->
  <!-- <div class="main-content w-700">
    <userid-password-signin-widget
      [componentId]="getComponentId()" class="w-400" pfWidgetImpressionTrack
      [executor]="useridPasswordSigninExecutor" [action]="useridPasswordSigninAction"
    >
      <ng-template let-widget="widget">
        <ng-container *ngIf="widget.model">
          <form class="form-section" padding [formGroup]="userIdSigninForm">
            <div class="form-group"
                 [class.error]="userIdSigninForm.get('email').touched && !userIdSigninForm.get('email').valid">
              <ion-label class="login-label" for="email" text-capitalize>{{ 'sign_in_page.email' | translate }}
              </ion-label>
              <div class="form-input">
                <ion-input id="email" placeholder="{{ 'sign_in_page.email_placeholder' | translate }}" inputmode="email"
                           formControlName="email"></ion-input>
                <div class="icons">
                  <ion-icon name="alert"></ion-icon>
                </div>
              </div>
              <div *ngIf="userIdSigninForm.get('email').touched">
                <div class="error-msg" *ngIf="userIdSigninForm.get('email').errors?.required">{{
                  'sign_in_page.email_required' | translate }}
                </div>
                <div class="error-msg" *ngIf="userIdSigninForm.get('email').errors?.email">{{ 'sign_in_page.email_valid'
                  | translate }}
                </div>
              </div>
            </div>
            <div class="form-group"
                 [class.error]="userIdSigninForm.get('password').touched && !userIdSigninForm.get('password').valid">
              <ion-label class="login-label" for="password" text-capitalize>{{ 'sign_in_page.password' | translate }}
              </ion-label>
              <div class="form-input">
                <ion-input [type]="isPasswordFiled ? 'password' : 'text'"
                           [inputmode]="isPasswordFiled ? 'password' : 'text'" no-border
                           placeholder="{{ 'sign_in_page.password_placeholder' | translate }}"
                           formControlName="password" id="password"></ion-input>
                <div class="icons">
                  <ion-icon (click)="changeTextPassword()" [name]="isPasswordFiled ? 'eye' : 'eye-off'"
                            margin-end-half></ion-icon>
                  <ion-icon name="alert"></ion-icon>
                </div>
              </div>
              <div *ngIf="userIdSigninForm.get('password').touched">
                <div class="error-msg" *ngIf="userIdSigninForm.get('password').errors?.required">{{
                  'sign_in_page.password_required' | translate }}
                </div>
                <div class="error-msg" *ngIf="userIdSigninForm.get('password').errors?.minlength">{{
                  'sign_in_page.password_minlength' | translate }}
                </div>
              </div>
            </div>
            <div class="remember-block" flex align-items-center justify-content-between>
              <ion-item class="remember-me" no-padding>
                <ion-checkbox color="dark" checked></ion-checkbox>
                {{ 'sign_in_page.remember_me' | translate }}
              </ion-item>
              <a class="forgot-pwd" (click)="goToPage('password-reset')">{{ 'sign_in_page.forgot_password' | translate
                }}?</a>
            </div>
          </form>
          <google-signin-widget [componentId]="getComponentId()"
                                [executor]="null" [action]="googleSignInActionEmitter"
                                (lifecycle)="handleGoogleSignInAction($event)"
                                [appId]="googleClientId">
            <ng-template let-widget="widget">
              <div class="login-with-google" text-center>
                <button class="btn-google" (click)="googleSignIn()">{{ 'sign_in_page.signin_google' | translate }}
                </button>
              </div>
            </ng-template>
          </google-signin-widget>
          <div class="login-footer" padding>
            <p class="dont-have-account" text-center>{{ 'sign_in_page.dont_have_account' | translate }}?
              <span text-capitalize (click)="goToPage('signup')">{{ 'sign_in_page.register' | translate }}</span>
            </p>
            <ion-button color="success" class="btn-success" text-capitalize expand="block" mode="ios" (click)="signIn()"
                        [class.disabled]="!userIdSigninForm.valid">{{ 'sign_in_page.sign_in' | translate }}
            </ion-button>
          </div>
        </ng-container>
      </ng-template>
    </userid-password-signin-widget>
  </div> -->
</ion-content>
